/* Спецификации */

*{

}

body{

}

/* Форма регистрации */

.form{
    max-height: 400px;
    max-width: 600px;
}

.form h2,p{
    text-align: center;
    margin-bottom: 20px;
}

.form__input{
    margin-bottom: 10px;
}

.form__input input{
    float: right;
    width: 400px

}

.form__btn{
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.form__btn:hover{
    opacity: 1.5;
}